img.emojione {
    display: initial;
    max-width: 22px;
}

.markdown img {
    display: inline!important;
}

/* AutoComplete styles for JoyPixels */
 
    .emoji-menu {
      list-style: none;
      padding: .3em 0 0;
      margin: 0;
      border: 1px solid #6E6E6E;
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      font-size: inherit;
      letter-spacing: .025em;
      box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    }
    .emoji-menu a:hover {
      cursor: pointer;
    }
    .emoji-menu li {
      letter-spacing: 0;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      border:none;
    }
    .emoji-menu li:before {
      display: none;
    }
    .emoji-menu .textcomplete-footer {
      margin-top: .3em;
      background: #e6e6e6;
    }
    .emoji-menu .textcomplete-footer a {
      color: #999999;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .05em;
      line-height: 2.1818em;
      padding-left: 1.8181em;
      font-size: .84em;
    }
    .emoji-menu .textcomplete-footer .arrow {
      margin-left: .8em;
      font-size: 1.3em;
    }
    .emoji-menu li .joypixels {
      vertical-align: middle;
      font-size: 1.23em;
      width: 1em;
      height: 1em;
      top: -1px;
      margin: 0 .3em 0 0;
    }
    .emoji-menu li a {
      display: block;
      height: 100%;
      line-height: 1.8em;
      padding: 0 1.54em 0 .615em;
      color: #4f4f4f;
    }
    .emoji-menu .active,
    .emoji-menu li:hover {
      background: #6E6E6E;
      color: white;
    }
    .emoji-menu .active a,
    .emoji-menu li:hover a {
      color: inherit;
    }